@charset "utf-8";


@font-face {
    font-family: "passionOne";
    src: url(passionOne/PassionOne-Black.ttf), url(passionOne/PassionOne-Bold.ttf), url(passionOne/PassionOne-Regular.ttf) format("truetype");
}


@font-face {
    font-family: "sriracha";
    src: url(/sriracha/Sriracha-Regular.ttf) format("truetype");
}


:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: "passionOne", cursive;
    --font3: "sriracha", cursive;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body  {
    min-height: 100vh;
    background-color: #a9a9a9;
    font-family: var(--font1);
}


header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 3.125em 0em 3.125em 0em;
}


header h1 {
    /*text-transform: uppercase;   Como deixar todas as letras em Maiúsculas*/ 
    font-variant: small-caps; /* Outra forma de deixar as letras Maiúsculas mas sem parecer que esta gritando*/
    font-family: var(--font2);
    font-size: 10vw;
}


a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}


a:hover {
    text-decoration: underline;
}


section {
    padding: 10vh 0;
    padding-left: 1.875em;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}


section > p {
    padding-bottom: 2em;
}


.normal {
    background-color: #fff;
    color: #000;
}


section.imagem {
    background-color: rgb(51, 51, 51);
    color: #fff;
    box-shadow: inset 0.375em 0.375em 0.813em 0em rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}


section.imagem > p {
    background-color: hsla(0, 0%, 0%, 0.514);
    display: inline-block;
    padding: 0.313em;
    text-shadow: 0.0063em 0.0063em 0em black;
}


#img01 {
    background-image: url(/background001.jpg);
    background-position: right center;
}


#img02 {
    background-image: url(/background002.jpg);
    background-position: right center;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.625em;
}